.sidebar {
    padding-top: 0;
}
.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-thumb,
.sidebar:hover::-webkit-scrollbar-thumb {
    width: 5px;
    background: #42b983;
}

.sidebar .search input {
    border-radius: 40px;
}
.sidebar ul li.active {
    padding-right: 1px;
}
.sidebar ul li.active>a {
    border-right-width: 5px;
}
.sidebar .app-name-link>img {
    width: 100px;
}
